@charset "UTF-8";

body {
	background-color: lightgray;
}

.form-fields {
	display: grid;
	grid-template-columns: max-content;
}

.text-field {
	max-width: 128px;
}

button, .btn {
	border: 1px solid black;
	border-radius: 0;
	min-height: 32px;
	max-width: 128px;
	min-width: 64px;
	margin-bottom: 4px;
}

button:hover {
	background-color: lightgray;
}

.btn-ok {
	background-color: lightgreen;
}

.btn-ok:hover {
	background-color: green;
}

.btn-cancel {
	background-color: rgb(196, 100, 100);
}

.btn-cancel:hover {
	background-color: rgb(196, 50, 50);
}